<!DOCTYPE html>
<html>
    <head>
        <title>Crear Estudiante</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/estudiantes">Lista de Estudiantes</a></h3>
            <h1>Crear Nuevo Estudiante</h1>
            <form action="/estudiantes/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Codigo</td>
                            <td><input type="text" name="codigo" /></td>
                        </tr>
                        <tr>
                            <td>Nombre</td>
                            <td><input type="text" name="nombre" /></td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td><input type="text" name="email" /></td>
                        </tr>
                        <tr>
                            <td>facultad</td>
                            <td><input type="text" name="facultad" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Grabar" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
